.main{
    width:cover;
    height: 400px;
  background-color: rgb(246, 246,246);
}
h1{
    font-size: 40px;
    margin: 0 auto;
    text-align: center;
    font-family:'Courier New';
    
}
.main-1{
    width:cover;
    height:60vh;
    display:flex;
   justify-content: space-evenly;
   align-items: center;
   background-color: rgb(246, 246,246);
}

.container-1{
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcmTi0_Qkk3aks73xCCQRBa53TiiI7QOrAvQ&usqp=CAU");
    background-size:cover;
}
.container-2{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZvJ8jvculeYswWUSaFEbyuOhhjEwuhlwfaQ&usqp=CAU);
    background-size: cover;
    
}

.container-3{
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBoiKcfY-34iOgPjRejIMP9oPoNSVWvKiKHg&usqp=CAU");
    background-size:cover;
}
.main-1 div:hover{
border: 5px solid black;
box-shadow: 3px 3px 3px 3px black;
}
#answer-1{
    height:100px;
    width: cover;
    display: flex;
    font-size:60px;
    justify-content:center;
}
.main-1 div{
    width:230px;
    height:220px;
}
.answer-2{
    background-color: rgb(246,246,246);
    display: flex;
    justify-content: center;
}
.answer-2 button{
    border-radius: 8px;
    height: 50px;
    width:90px;
    background-color: rgb(255, 255,255);
}
#btn-1:hover{
    background-color:aqua;
    color: white;
    box-shadow: 3px 3px 3px 3px chartreuse;
}